.css-1qxadfk-MuiPaper-root-MuiDialog-paper {
  width: 50vw !important;
  max-width: 100vw !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 50vw !important;
  max-width: 100vw !important;
}
